*{
    margin:0;
    padding:0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration:none;
    font-family:sans-serif;
}
body{
    background-color: #F5F5F5;
}
@font-face{
    font-family:glaho;
    src:url(../fonts/bpg_glaho.ttf);
}


.header{
    width:100%;
    height: 126px;
    /* background-color: #d6b7b7; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -----ნავიგაციის ბარი---- */
.navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navigation ul li a{
    padding:10px 22px;
    font-size: 1.2vw;
    color: #000000;
    font-weight: bold;
}
/* ------მთავარი ლოგო----- */
.header h1{
    /* padding: 10px; */
    margin-left: 8.8vw;
    width:9.8vw;
    height: 42px;
    background-image: url(../images/main_logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -999px;
    
}
.header h1 a{
    width:10vw;
    height:34px;
    display:block;
}
/* -------იუზერის ლოგო------- */
.fa-user-icon{
    display: none;
}
/* -----ბურგერ მენიუ----- */
.fa-bars-icon{
    display: none;
}

/* ------ლოგ ინი------ */
.header_p{
    font-size: 1.2vw;
    color: #FDFDFD;
    font-weight: bold;
    padding: 8px 4.8vw;
    background-color: #4F46E5;
    margin-right: 8.8vw;
    border-radius: 8px;
}
/* -----ბლოგის იმიჯი,ტექსტი------- */
.div_image_blog_image {
    width:100%;
    position:relative;
    text-align: center;
}
.div_image_blog_image img{
    width:82%;
    
}
.div_image_blog_image div{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#FDFDFD;
    font-weight: bold;
    font-size: 2.9vw;
    z-index: 1;
}
/* -----სერჩის ბარი---- */
.search_bar{
    width: 28.1vw;
    height: 56px;
    border-radius: 16px;
    border:#D9D9D9 solid 2px;
    position:absolute;
    top:95%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    outline: none;
    box-shadow: 0px 5px 5px #7C7C7C;
    letter-spacing: 2px;
    
}
.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
/* ------მეორე ul li---- */
.main_ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48.6vw;
    margin:64px auto 0;
    font-size: 1.2vw;
}
.main_ul_li a{
    color: #000000;
    padding:8px 15px;
    transition: 0.5s;
    border-radius:8px;
}
.main_ul_li a:hover{
    color: #FDFDFD;
    background-color: #4F46E5;
    
}
.main_ul_p{
    display: none;
    
}


/* ------footer div----- */
.footer_div{
    display: flex;
    justify-content: space-around;
    margin-top: 20vh;
    padding:50px;
    color: #FDFDFD;
}
footer{
    background-color: #161616;
    
}

.footer_div_1 h3{
    font-size: 1.2vw;
}
.footer_div_1 p{
    padding:16px 0;
}
/* -------footer email div------- */
.footer_div_comeJoinUs input{
    background-color: #161616;
    border:none;
    border-bottom: #FDFDFD solid 2px;
    margin: 16px 0;
    padding: 10px;
    color: #FDFDFD;
}

/* ------main page, news. article1---- */
.article_1{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin:20vh 3.5vw 0;
}
.article_1_div img{
    width:35vw;
    height: 42.7vh;
}
.article_1_section{
    width:35vw;
    height: 42.7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article_1_section_p{
    font-size: 12px;
}
.article_1_section_h2{
    font-size: 24px;
    font-weight: bold;
}
.article_1_section_p_readmore{
    font-weight: bold;
}


/* -----main latest news------- */

.main_h2_latestnews{
    margin:20vh 0 6.6vh 8.8vw;
}
.news_div{
    display: flex;
    justify-content: space-between;
    margin:auto 8.8vw;
}
.article_latestnews{
    width:24vw;
}
.article_latestnews_div img{
    width:24vw;
}
.article_latestnews_section{
    width:24vw;
    position: relative;
}
/* .relative{
    position: relative;
} */
.article_latestnews_p{
    font-size: 12px;
    margin: 16px 0;
}
.article_latestnews_h2{
    font-size: 24px;
    font-weight: bold;
}
.article_latestnews_p_text{
    margin:16px 0 24px 0;
}
.streightline{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #4F46E5; */
}
.article_latestnews_div_person {
    display: flex;
    align-items: center;
    
}
.article_latestnews_div_person img{
    width:2.9vw;
    height: 6.6vh;
    margin-right: 1.2vw;
}
.article_latestnews_name{
    font-weight: bold;
}
.article_latestnews_date{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}
.article_social_div{
    /* position: absolute;
    left: 70%;
    bottom: 3%; */
}
/* .absolute{
    position: absolute;
    left: 70%;
    bottom: 3%;
} */
.article_social_div img{
    padding:0 4px;
}
.article_social_div img:hover{
    padding:0 4px;
    cursor: pointer;
}
.p_readall{
    margin: 12vh 0 0 8.8vw;
    font-weight: bold;
}
/* -------big div image----- */
.big_div_image img{
    margin:20vh 8.7vw;
    width: 80vw;
}


/* -------menu.html sections ------ */
.menu_main{
    margin-top: 80px;
    /* padding: 0 8.8vw; */
}
.menu_main_h2_latestnews{
    padding: 0 8.8vw;
}
.menu_main_div{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    padding: 0 8.8vw;
}
.menu_div{
    /* width:150px; */
    /* overflow: hidden; */
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}
.menu_section{
    width: 24vw;
    margin: 12vh 0;
    position: relative;
    /* background-color: aquamarine; */
}
.menu_section_div{
    width:24vw;  
}
.menu_section_div img{
    width:24vw;
    height: 34vh;
    overflow: hidden;  
    border-radius: 8px;
}
.menu_section_title{
    font-size: 24px;
    color: #000000; 
    margin: 2.4vh 0;  
    
}
.menu_section_text{
    color: #161616;
    margin:4.4vh 0;
    height: 14vh;
    /* background-color: #4F46E5; */
}
/* -------shida gverdi------- */
.index_html_main {
    display: flex;
    flex-direction: column;
}
.enter_main_title{
    font-size:24px;
    font-weight:bold;
    margin-top:30px;
}
.enter_main_text{
    font-size: 12px;
    color: #7C7C7C;
    margin:30px 0;
}
.enter_main_img{
    margin: 30px 0;
    width: 100%;
    height: 600px;
}
.enter_main_little_div{
    display: flex;
    justify-content: space-around;
    margin:30px 0;
    width:100%;
}
.enter_main_little_img{
    width:50%;
    height: 300px;
}
.base_h2{
    margin:50px 0;
}
/* .space{
    display: flex;
    justify-content: space-around;
} */

/* -------skip---- */
.skip_div{
    margin:40px auto 0;
}
.skip_ul{
    display: flex;
}
.skip_li a{
    background-color: #F5F5F5;
    color: #4F46E5;
    padding: 15px 15px;
    border: #4F46E5 solid 1px;
    margin: 0 1px;
    font-size: 12px;
    font-weight: bold;
}
.skip_ul:last-child{
    padding: 15px 35px;
}
.skip_ul:first-child{
    padding: 15px 35px;
}
.active{
    background-color: #4F46E5;
}



/* -------------------------------------
----------ipad air resolution--------
------------------------------------- */
@media screen and (max-width:820px) {
    .header{
        width:unset;
        /* height: unset; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* padding-top:60px; */
    }
    
    /* -----ნავიგაციის ბარი---- */
    .index_html_main{
        position: relative;
    }
    .navigation{
        display: none;
        
    }
    .secondNavigation{
        display: none;
        flex-direction: column;
        align-items: center;
        position:absolute;
        background-color: #4F46E5;
        width: 100%;
        z-index: 2;
        border-radius: 16px;
    }
    .secondNavigation ul li{
        font-size: 16px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
    }
    .secondNavigation ul li a{
        font-size: 16px;
        padding: 10px 15px;
        color: #FDFDFD;
    }
    .navigation ul{
        display: flex;
        flex-direction: column;
    }
    .navigation ul li a{
        
    }
    /* -------იუზერის ლოგო------- */
    .fa-user-icon{
        display:block;
        font-size: 30px;
    }
    /* ------მთავარი ლოგო----- */
    .header h1{
        padding: unset;
        margin:unset;
        width:10.8vw;
        /* height: 50px; */
        background-image: url(../images/main_logo.png);
        background-size: 100%;
        background-repeat: no-repeat;
        text-indent: -999px;
        
    }
    .header h1 a{
        width:10.8vw;
        /* height:34px; */
        display:block;
    }

    /* -----ბურგერ მენიუ----- */
    .fa-bars-icon{
        display: block;
        font-size: 30px;
    }

    /* ------ლოგ ინი------ */
    .header_p{
        display: none;
    }
    /* -----ბლოგის იმიჯი,ტექსტი------- */
    .div_image_blog_image {
        
    }
    .div_image_blog_image img{
        
        
    }
    .div_image_blog_image div{
        
    }
    /* -----სერჩის ბარი---- */
    .search_bar{
        
    }
    /* ------მეორე ul li---- */
    .main_ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: unset;
        /* width: 48.6vw; */
        margin:64px auto 0;  
        font-size: 1.2vw;
    }
    .main_ul_li a{
        color: #000000;
        padding:8px 15px;
        transition: 0.5s;
        border-radius:8px;
    }
    .main_ul_li a:hover{
        color: #FDFDFD;
        background-color: #4F46E5;
        
    }
    /* -----main latest news----- */
    .article_latestnews{
        width:80vw;
        display: flex;
        margin-bottom: 30px;
        box-shadow: #7C7C7C 5px 5px 10px ;
        border-radius: 16px;
    }
    .article_latestnews_div img{
        width:30vw;
        height: 100%;
        margin-right: 20px;
        border-radius: 16px;
    }
    .article_latestnews_section{
        width:64vw;
        position: relative;
        
        
        
    }
    /* .relative{
        position: relative;
    } */
    .article_latestnews_p{
        font-size: 12px;
        margin: 16px 0;
    }
    .article_latestnews_h2{
        font-size: 24px;
        font-weight: bold;
    }
    .article_latestnews_p_text{
        margin:16px 0 24px 0;
    }
    .streightline{
        width: 100%;
        position: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: #4F46E5; */
    }
    .article_latestnews_div_person {
        display: flex;
        align-items: center;
        
    }
    .article_latestnews_div_person img{
        width:2.9vw;
        height: 3.6vh;
        margin-right: 1.2vw;
    }
    .article_latestnews_name{
        font-weight: bold;
    }
    .article_latestnews_date{
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
    }
    .news_div{
        display: flex;
        flex-wrap: wrap;
        margin:auto 8.8vw;
    }
    /* -------big div image----- */
    .big_div_image img{
        margin:unset;
        width: 100%;
        margin: 10vh 0;
    }
    /* -------menu.html sections ------ */
.menu_main{
    margin-top: 40px;
    /* padding: 0 8.8vw; */
}
.menu_main_h2_latestnews{
    padding: 0 8.8vw;
}
.menu_main_div{
    width: 100%;
    display:flex;
    /* flex-direction: column; */
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 0 8.8vw; */
}
.menu_div{
    width:80vw;
    /* overflow: hidden; */
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}
.menu_section{
    width: 100%;
    margin: 12vh 0;
    /* position: relative; */
    /* background-color: aquamarine; */
    display: flex;
    margin-bottom: 30px;
    box-shadow: #7c7c7c 5px 5px 10px;
    border-radius: 16px;
}
.menu_section_div{
    width:32vw; 
    height: 30.5vh; 
}
.menu_section{
    
}
.menu_section_div_2{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.menu_section_div img{
    width:30vw;
    height: 100%;
    overflow: hidden;  
    border-radius: 8px;
}
.menu_section_title{
    font-size: 24px;
    color: #000000; 
    margin: 2.4vh 0;  
    
}
.menu_section_text{
    color: #161616;
    margin:4.4vh 0;
    height: 6vh;
    /* background-color: #4F46E5; */
}
.footer_div_1 h3{
    font-size: 2.2vw;
}
/* -------shida gverdi------- */
.enter_main_title{
    font-size:24px;
    font-weight:bold;
    margin-top:30px;
}
.enter_main_text{
    font-size: 12px;
    color: #7C7C7C;
    margin:30px 0;
}
.enter_main_img{
    width: 80vw;
    margin: 30px 0;
}

.enter_main_little_div{
    display: flex;
    width: 80vw;
    margin:30px 0;
}
.enter_main_little_img{
    width:50%;
}
/* .article_latestnews_div_person img{
    width:30px;
    height: 30px;
} */
.base_h2{
    margin:50px 0;
}
.news_div{
    margin-left: unset;
}

}
/* -------------------------------------
----------iphone 12 pro resolution--------
------------------------------------- */
@media screen and (max-width:375px) {
    /* ------მთავარი ლოგო----- */
    .header h1{
        padding: unset;
        margin:unset;
        width:35vw;
        /* height: 50px; */
        background-image: url(../images/main_logo.png);
        background-size: 100%;
        background-repeat: no-repeat;
        text-indent: -999px;
        
    }
    .header h1 a{
        width:35vw;
        /* height:34px; */
        display:block;
    }
    /* -----ბლოგის იმიჯი,ტექსტი------- */
.div_image_blog_image {
    width:100%;
    position:relative;
    text-align: center;
}
.div_image_blog_image img{
    width:82%;
    height: 9.7vh;
    border-radius: 8px;
}
.div_image_blog_image div{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#FDFDFD;
    font-weight: bold;
    font-size: 3.9vw;
    z-index: 1;
}
/* -----სერჩის ბარი---- */
.search_bar{
    width: 45vw;
    height: 32px;
    border-radius: 16px;
    border:#D9D9D9 solid 2px;
    position:absolute;
    top:95%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    outline: none;
    box-shadow: 0px 5px 5px #7C7C7C;
    letter-spacing: unset;
    
}
.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
/* -----ნავიგაციის ბარი---- */
    .main_ul{
        display: none;
    }
    .main_ul_p{
        padding: 10px 15px;
        margin: 40px 0 40px 32px;
        background-color: #4F46E5;
        color: #FDFDFD;
        border-radius: 16px;
        display: inline-block;
    }
    .main_ul_2 li{
        
        padding: 8px 15px;
    }
    .main_ul_2 a{
        padding: unset;
        color: #FDFDFD;
    }
    .backgroundBlue{
        background-color: #4F46E5;
        width: 100%;
        border-radius: 16px;
        color: #FDFDFD;
        /* margin-left: 32px; */
        position: absolute;
    }
    .article_1{
        display: flex;
        flex-direction: column;
        margin:unset;
        
    }
    .article_1_div img{
        width:328px;
        height: 22.7vh;
    }
    .article_1_section{
        width:328px;
        height: 32.7vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .news_div{
        margin-left: 8vw;
    }
    .article_latestnews{
        height: 110px;
    }
    .article_latestnews_div{
        width: 76px;
        height: 110px;
    }
    .article_latestnews_div img{
        width: 76px;
        height: 110px;
    }
    .article_latestnews_section {
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
    }
    .article_latestnews_p{
        margin: unset;
        padding: unset;
    }
    .article_latestnews_h2{
        margin: unset;
        padding: unset;
        font-size: 14px;
    }
    .article_latestnews_p_text{
        display: none;
    }
    .streightline{
        /* width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center; */
        /* background-color: #4F46E5; */
    }
    .article_latestnews_div_person {
        /* display: flex;
        align-items: center; */
        
    }
    .article_latestnews_div_person img{
        width: 20px;
        height: 30px;
    }
    .article_latestnews_div_name{
        font-size: 12px;
    }
    .article_social_div img{
        width: 24px;
    }

    /* ----footer---- */

    .footer_div{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #161616;
        color: #FDFDFD;
        margin:unset;
        padding: unset;
    }
    footer{
        /* background-color: #161616; */
        background-color: unset;
    }
    
    .footer_div_1 h3{
        font-size: 14px;
        padding: 5px 0;
        border: #ffffff 1px solid;
        width: 100%;
    }
    .footer_div_1 p{
        display: none;
    }
    /* -------footer email div------- */
    .footer_div_comeJoinUs input{
    display: none;
    }
    .footer_div_comeJoinUs div{
        display: none;
    }
    .footer_div_comeJoinUs h3{
        font-size: 14px;
        padding: 5px 0;
        border: #ffffff 1px solid;
        width: 100%;
    }
    /* -----------shida gverdi------- */
    .enter_main_title{
        font-size:24px;
        font-weight:bold;
        margin-top:30px;
    }
    .enter_main_text{
        font-size: 12px;
        color: #7C7C7C;
        margin:30px 0;
    }
    .enter_main_img{
        margin: 30px 0;
    }
    .enter_main_little_div{
        display: flex;
        justify-content: space-around;
        margin:30px 0;
    }
    .base_h2{
        margin:50px 0;
    }
}